<html xmlns:th="http://www.thymeleaf.org">
<base th:href="${#request.getContextPath()}+'/'">
<link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>

<link rel="stylesheet" type="text/css" href="plusins/bootstrapvalidator/css/bootstrapValidator.css"/>
<link rel="stylesheet" href="plusins/bootstraptable/bootstrap-table.min.css"/>
<link rel="stylesheet" href="plusins/lay-ui/css/layui.css" type="text/css"/>
<link rel="stylesheet" href="css/public.css" type="text/css"/>
<link rel="stylesheet" href="plusins/zTree_v3/css/zTreeStyle/zTreeStyle.css" type="text/css"/>
<link rel="stylesheet" href="plusins/zTree_v3/css/metroStyle/metroStyle.css" type="text/css"/>
<!-- plus -->
<link rel="stylesheet" href="plusins\adminlte\dist\css\AdminLTE.css" type="text/css"/>
<link rel="stylesheet" href="plusins\adminlte\dist\css\skins\_all-skins.css" type="text/css"/>
<link rel="stylesheet" href="plusins/ionicons/css/ionicons.css" type="text/css"/>
<link rel="stylesheet" href="plusins/font-awesome-4.7.0\css\font-awesome.min.css" type="text/css"/>
<link rel="stylesheet" href="plusins/css/base.css" type="text/css"/>
<link rel="stylesheet" href="plusins/jqTreeGrid/jquery.treegrid.css" type="text/css"/>
<link rel="stylesheet" href="plusins/material-design-iconic-font/css/material-design-iconic-font.min.css"
      type="text/css"/>

<link rel="stylesheet" type="text/css" href="plusins/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="plusins/bootstrap/css/bootstrap-theme.min.css"/>

<!-- jQuery -->
<script src="js/jquery-2.1.0.js"></script>
<!-- Bootstrap -->
<script src="plusins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- bootstrap插件 -->
<script src="plusins/bootstrap3-editable/js/bootstrap-editable.min.js" type="text/javascript" charset="utf-8"></script>
<script src="plusins/bootstrapvalidator/js/bootstrapValidator.js" type="text/javascript"></script>

<script src="plusins/bootstraptable/bootstrap-table.min.js"></script>
<script src="plusins/bootstraptable/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="plusins/bootstraptable/extensions/editable/bootstrap-table-editable.js"></script>
<!-- 通知组件 -->
<script src="plusins/bootstrap-notify/bootstrap-notify.min.js"></script>

<script src="plusins/lay-ui/layui.all.js"></script>
<script src="plusins/lay-ui/common.js"></script>
<!-- 自定义js -->
<script src="js/public.js"></script>
<script src="js/jackown.js"></script>

<script src="plusins/zTree_v3/js/jquery.ztree.all.js"></script>
<!-- 菜单 -->
<script src="js/menu/menu-ui.js"></script>
<!-- APP菜单 操作  -->
<script type="text/javascript" src="plusins/adminlte/dist/js/app.min.js"></script>
<script type="text/javascript" src="plusins/jqTreeGrid/jquery.treegrid.js"></script>
<script type="text/javascript" src="plusins/jqTreeGrid/jquery.treegrid.extension.js"></script>
<!-- 服务模块公共JS -->
<script type="text/javascript" src="js/service/servcie_common.js"></script>
<!-- 全局公共JS -->
<script type="text/javascript" src="js/system_common.js"></script>
<!-- 图表组件 -->
<script type="text/javascript" src="plusins/highcharts/highcharts.js"></script>
<script type="text/javascript" src="plusins/highcharts/exporting.js"></script>
<script type="text/javascript" src="plusins/highcharts/highcharts-zh_cn.js"></script>
<script type="text/javascript" data-th-src="@{js/menu/main.js}"></script>

<head>
    <!-- 禁用响应式布局 -->
    <title>客户管理系统</title>
</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header"> <!-- Logo --> <a
            href="#" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
        <!--<img alt="" src="static/image/logo.png" width="100%" height="100%">-->
        <!-- logo for regular state and mobile devices --> <span
                class="logo-mini" style="font-weight: 100">客户关系管理</span> <span
                class="logo-lg" style="font-weight: 100; font-size: 30px;">客户关系管理</span>
    </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav
                class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a> <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu"><a href="#"
                                                           class="dropdown-toggle" data-toggle="dropdown"> <img
                            src="plusins/adminlte/dist/img/user2-160x160.jpg"
                            class="user-image" alt="User Image"/> <span id="userName"
                                                                        class="hidden-xs"></span>
                    </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <a click="javascript:mwtools.openMenu('/user/user_center_view')">
                                    <img
                                            src="plusins/adminlte/dist/img/user2-160x160.jpg"
                                            class="img-circle" alt="User Image"/>
                                </a>
                                <p>
                                <div id="name" th:text="${session.logineduser.name}">
                                </div>
                                <div id="rname" th:text="${session.logineduser.roles[0].name }"></div>


                                <small></small>
                                </p>
                            </li>
                            <li>
                                <!-- <p>
                                <a href="#user_center"  class="btn btn-link"> 个人中心 </a>
                                </p> -->
                            </li>
                            <li class="user-footer">
                                <div style="text-align: center;">
                                    <a href="javascript:sys_logout();"
                                       class="btn btn-default btn-flat">安全退出</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="plusins/adminlte/dist/img/user8-128x128.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>
                    <div id="name1" th:text="${session.logineduser.name}">
                    </div>

                    <div id="rname1" th:text="${session.logineduser.roles[0].name }">

                    </div>
                    </p>
                    <!--
                                            <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                    -->
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul id="menuContainer" class="sidebar-menu">

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- 右侧显示区 -->
    <div class="content-wrapper">
        <!--个人中心-->
        <div data-th-include="user/user_center_view"></div>
    </div>

    <footer class="main-footer">
        <h4 style="color: #000">腾龙软件工作室</h4>
        <h4>
            联系邮箱:<a style="color:  #000" href="mailto:hewlh@163.com">hewlh@163.com</a>
        </h4>
    </footer>
</div>
</body>
</html>

