<html xmlns:th="http://www.thymeleaf.org">
<base th:href="${#request.getContextPath()}+'/'">

<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        系统管理
        <small>用户管理</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">系统管理</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">        <!-- 面包屑导航 -->
    <div id="toolbar">

        <div class="pull-left">
            <div class="btn-group">
                <button id="btn_new" type="button"
                        class="btn btn-success btn-space">
						<span aria-hidden="true"
                              class="btn-icon-space">新增</span>
                </button>
            </div>
        </div>

        <div class="pull-right">
            <form class="form-inline" role="form" id="frmsearch">
                <input name="users_Name" id="users_Name" placeholder='姓名'
                       type="text" class="form-control">
                <select name="users_rid"
                        class="form-control"
                        id="users_rid">
                    <option value=""></option>
                </select>
                <div class="btn-group">
                    <button id="btn_search" onclick="customSearch()" type="button"
                            class="btn btn-warning btn-space">
							<span class="fa fa-search btn-icon-space" aria-hidden="true"
                            >查询</span>

                    </button>
                    <button id="btn_reset" onclick="resetSearch()" type="button"
                            class="btn btn-info btn-space">
							<span class="fa fa-eraser btn-icon-space" aria-hidden="true"
                            >重置</span>

                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- toolbar -->
    <!-- 数据表格 -->
    <table id="table"></table>
    </div>

</section>


<div data-th-include="user/user_dialog"></div>
<script data-th-src="@{js/user/user_view.js}"></script>
</html>
