<!-- 资源分配层 -->
<div id="roleresourcedialog" class="modal fade bs-example-modal-sm"
     tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;
                </button>
                <h4 class="modal-title" id="myModalLabel">编辑权限</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="role_id">
                <div id="resourcetree" class="ztree"></div>
            </div>

            <div class="modal-footer form-group" style="margin-bottom: 0;">
                <button type="button" class="btn btn-sm btn-warning	"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-sm btn-success" id="btn_role_resource_submit">提交</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
</div>