<!-- 角色层 -->
<div id="rolediv" class="modal fade bs-example-modal-sm" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="false"
     data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;
                </button>
                <h4 class="modal-title" id="title">角色</h4>
                <input type="hidden" id="hidden_title" value="角色" />
            </div>
            <div class="modal-body">
                <form id="frmroledialog" class="form-horizontal center-block" role="form">
                    <div class="">
                        <input id="id" name="id" type="hidden"/>
                        <!--对话状态 0:新建 1：编辑-->
                        <input id="dialogstate" type="hidden" value="0"/>

                        <div class="form-group" style="margin-top: 2%;">
                            <label for="name" class="col-sm-2 control-label"> 角色名称</label>
                            <div class="col-sm-4">
                                <input id="name" name="name" type="text" class="form-control"
                                />
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 2%;">
                            <label for="name" class="col-sm-2 control-label"> 角色标识</label>
                            <div class="col-sm-4">
                                <input  placeholder="ROLE_" id="tag" name="tag" type="text" class="form-control"
                                />
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 2%;">
                            <label for="memo" class="col-sm-2 control-label"> 职责</label>
                            <div class="col-sm-8">
								<textarea class="form-control" name="memo" id="memo" cols="80"
                                          rows="10"></textarea>
                            </div>
                        </div>
                        <!-- 操作模式  0：新建 1：查看 2:编辑 3:指派 -->
                        <input type="hidden" id="saveOrupdate" value="0" name="type"/>
                    </div>
                </form>
            </div>

            <div class="modal-footer form-group" style="margin-bottom: 0;">
                <button type="button" class="btn btn-sm btn-warning	"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-sm btn-success" id="btn_submit">提交</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>

