<html xmlns:th="http://www.thymeleaf.org">
<base th:href="${#request.getContextPath()}+'/'">

<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        系统管理
        <small>角色管理</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">系统管理</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div id="toolbar">

        <div class="pull-left">
            <div class="btn-group">
                <button id="btn_new" onclick="showModal(0)" type="button"
                        class="btn btn-success btn-space">
							<span aria-hidden="true"
                                  class="btn-icon-space">新增</span>
                </button>
            </div>
        </div>


        <div class="pull-right">
            <form class="form-inline" role="form">
                <input name="rname" id="rname" placeholder='角色名称' type="text"
                       class="form-control">

                <div class="btn-group">
                    <button id="btn_search" onclick="customSearch()" type="button"
                            class="btn btn-warning btn-space">
								<span class="fa fa-search btn-icon-space" aria-hidden="true"
                                >查询</span>

                    </button>
                    <button id="btn_reset" onclick="resetSearch()" type="button"
                            class="btn btn-info btn-space">
								<span class="fa fa-eraser btn-icon-space" aria-hidden="true"
                                >重置</span>

                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- 角色列表 -->
    <table id="table"></table>
    </div>


</section>
</html>

<script type="text/javascript" data-th-src="@{js/role/role_view.js}"></script>
<!-- 角色层 -->
<div data-th-include="role/role_dialog"></div>
<!-- 资源分配层 -->
<div data-th-include="role/role_resource_dispather_dialog"></div>