<html xmlns:th="http://www.thymeleaf.org">
<base th:href="${#request.getContextPath()}+'/'">

<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        基础数据
        <small>订单信息</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">基础数据</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div id="toolbar">

        <div class="pull-right">
            <form class="form-inline" role="form">
                <input name="oid" id="oid" placeholder='订单编号' type="text"
                       class="form-control">
                <div class="btn-group">
                    <button id="btn_search" type="button"
                            class="btn btn-warning btn-space">
								<span class="fa fa-search btn-icon-space" aria-hidden="true"
                                >查询</span>

                    </button>
                    <button id="btn_reset" type="button"
                            class="btn btn-info btn-space">
								<span class="fa fa-eraser btn-icon-space" aria-hidden="true"
                                >重置</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    </div>
    <!-- toolbar -->


    <!-- 数据表格 -->
    <table id="ord_tbl"></table>
    </div>
</section>
<script type="text/javascript" charset="utf-8" data-th-src="@{js/basic/order/order_view.js}"></script>
<div data-th-include="basic/order/order_items_dialog"></div>

</html>
